@import "colours";

html,
body {
    height: 100%;
    margin: 0;
}
a {
    text-decoration: none;
    color: aqua;
}
body {
    background-image: linear-gradient($third-grn, white);
    background-repeat: no-repeat;
}

/*importing content from "header.scss"*/
@import "header";

main {   
    height: 100vh;
}

/*importing content from "footer.scss"*/
@import 'footer';
